<div class="container-fluid">
    <div class="row bg-light px-5 py-5">
        <div class="col">
            <h1>Contact</h1>
            <p>Donec eu magna dignissim, iaculis sapien a, efficitur urna. Etiam sodales in mi quis rutrum. Fusce vitae
                lectus nec dui sodales molestie at ut augue. Quisque egestas ex sed erat vulputate, id mollis nisi
                congue. Pellentesque elit risus, maximus nec viverra vel</p>
        </div>
    </div>
</div>
<div class="container-fluid text-end">
    <div class="d-flex justify-content-center">
        <div class="card mb-5" style="width: 900px;">
            <div class="card-header">
                <div class="my-3 row d-flex justify-content-end">
                    <div class="col-2"></div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Your Email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Your Email" aria-label="First name">
                    </div>
                </div>
                <div class="mb-3 row d-flex justify-content-end">
                    <div class="col-2"></div>
                    <label for="inputPassword" class="col-sm-2 col-form-label">Your message</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea" rows="5"></textarea>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-12 text-end">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
                </div>
            </div>
        </div>
    </div>