<div class="container-fluid ">
    <div class="row">
        <div class="col-12">
            <div class="textoport">
                <h1>Porfolio</h1>
                <p>Phasellus elementum mauris et condimentum convallis. Sed leo orci, faucibus eu iaculis ac, luctus
                    ornare diam. Vivamus vel efficitur lacus. Maecenas dignissim ante nisi, vitae blandit lorem laoreet
                    a. Integer volutpat lobortis volutpat. </p>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">

            <div class="col-4">
                <div class="card border border-0">
                    <img src="./assets/img/big-project-image.png" width="100%" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Proyect Name</h5>
                        <p class="card-text">Cras finibus erat et massa vestibulum, consequat suscipit magna aliquet. Duis elementum et massa id sollicitudin. Pellentesque imperdiet pellentesque augue.</p>
                     
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="card border border-0">
                    <img src="./assets/img/big-project-image.png" width="100%" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Cras finibus erat et massa vestibulum, consequat suscipit magna aliquet. Duis elementum et massa id sollicitudin. Pellentesque imperdiet pellentesque augue.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border border-0">
                    <img src="./assets/img/big-project-image.png" width="100%" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Cras finibus erat et massa vestibulum, consequat suscipit magna aliquet. Duis elementum et massa id sollicitudin. Pellentesque imperdiet pellentesque augue.</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>