<!-- your html code here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <img src="./assets/img/2.jpg" class="img-fluid border rounded-circle b-bad m-4" width="70%">
            </div>
        </div>
        <div class="col-8 p-4">
            <div class="d-flex">
                <h3>The Second Heading &nbsp</h3>
                <h3 class="text-secondary">Is Pretty Cool Too.</h3>
            </div>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisi
                consectetur. Fusce daoibus. tellus ac cursus commodo.</p>
        </div>

    </div>
</div>
